POSTGRES_USER=telemetry_user
POSTGRES_PASSWORD=yourpassword
POSTGRES_DB=telemetry_dw
POSTGRES_PORT=5432

AIRFLOW_UID=50000
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=yourpassword
AIRFLOW_ADMIN_FIRSTNAME=Airflow
AIRFLOW_ADMIN_LASTNAME=Admin
AIRFLOW_ADMIN_EMAIL=admin@example.com

AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__CORE__FERNET_KEY=MDEyMzQ1Njc4OWFiY2RlZjAxMjM0NTY3ODlhYmNkZWY=
AIRFLOW__CORE__LOAD_EXAMPLES=False

DBT_POSTGRES_HOST=postgres
DBT_POSTGRES_PORT=5432
DBT_POSTGRES_USER=telemetry_user
DBT_POSTGRES_PASSWORD=telemetry_password
DBT_POSTGRES_DB=telemetry_dw
DBT_POSTGRES_SCHEMA=public

